html {
    	height: 100%;
}

body {
	width:1220px;
	height:900px;
	margin: 5px auto;
	font-family: Arial,Sans-Serif,Verdana;
	/*padding: 5px;*/
}

.mainBody {
	margin-left: 20px;
	margin-top: 5px;
}

div {
	/*border: 1px solid;*/
}