@CHARSET "UTF-8";
body{
	margin:20px 100px 20px 100px;
	width:1100px;
	height:1500px;
}

#mainBody{
	margin:0px 30px 10px 0px;
	width:850px;
	height:1300px;
}

#location{
	margin:-1200px 0px 400px 900px;
	width:250px;
}

#logo{
	margin:0px 0px 0px 50px;
}

#searchBox{
	margin:10px 0px 0px 50px;
}

#hotImages{
	margin:50px 0px 0px 0px;
}

#hotImages img{
	width:200px;
	height:200px;
}

#hotLinks span{
	width:200px;
	height:100px;
}